@import "variables";

html, body {
  background-color: $text-color;
  color: $bg-color;
}

header {
  display: none;
}

a {
  color: $bg-color;
}

pre, code {
  background: transparent;
  padding: 0;
}

pre code span {
  color: $bg-color !important;
  background: unset !important;
}
