{% extends "base.html" %}

{% block title %}
{{ taxonomy.name }} {{ config.extra.title_separator }} {{ config.title }}
{% endblock title %}

{% block content %}
<main id="main-content">
    <header>
        <h1>{{ taxonomy.name }}</h1>
    </header>
    {% if terms %}
    <hr />
    <ul class="tags">
        {% for term in terms %}
        <li>
            <a href="{{ term.permalink }}">
                {{ term.name }} ({{ term.pages | length }})
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</main>
{% endblock content %}
