<!doctype html>
<html lang="en">

<head>
    <title>Friedemann Sommer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Friedemann Sommer Software Engineer at advanced STORE">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
</head>

<body>
    <header>
        <ul class="flexbox flexbox-horizontal">
            <li>
                <a href="/" title="Home">Home</a>
            </li>
            <li>
                <a href="/contact" title="Contact">Contact</a>
            </li>
        </ul>
    </header>
    <section>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </section>
    <footer>
        <ul class="flexbox flexbox-horizontal">
            <li>
                <a href="https://github.com/friedemannsommer/website" target="_blank" rel="noopener">
                    Source code for this site
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>