<!doctype html>
<html lang="en">

{{> head }}

<body>
    {{> menu }}
    <section>
        <div class="content">
            {{> @partial-block }}
        </div>
    </section>
    {{> footer }}
</body>

</html>