<footer>
    <ul class="flexbox flexbox-horizontal">
        <li>
            <a href="https://github.com/friedemannsommer/website" target="_blank" rel="noopener">
                Source code for this site
            </a>
        </li>
    </ul>
</footer>