{{#> base }}
<h1>Friedemann Sommer</h1>
<h2>Software Engineer <a href="https://www.advanced-store.com" title="advancedSTORE" target="_blank"
        rel="noopener">@advancedSTORE</a></h2>
</div>
{{/base}}
