{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="#121212" name="theme-color">
    <meta name="color-scheme" content="dark">
    <meta content="nositelinkssearchbox" name="google" />
    <meta content="notranslate" name="googlebot" />

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block page_meta %}
    {{ macros::page_description(description=config.description) }}
    {% endblock page_meta %}

    {% block og_meta %}
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="{{ config.description | truncate(length=155) }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ config.base_url }}">
    {% endblock og_meta %}

    {% block canonical %}{% endblock canonical %}

    {% if config.generate_feeds %}
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href='{{ get_url(path="atom.xml", trailing_slash=false) }}' />
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href='{{ get_url(path="rss.xml", trailing_slash=false) }}'>
    {% endif %}

    <link rel="sitemap" type="text/xml" title="Sitemap" href="{{ get_url(path='sitemap.xml') }}" />

    {% block font %}
    <style>
        @font-face {
            font-family: 'Open Sans';
            font-display: swap;
            font-style: normal;
            font-weight: 700;
            src: local('Open Sans'), local('OpenSans'),
            url({{ get_url(path='open-sans/v34-latin-700.woff2') }}) format('woff2');
        }
    </style>
    {% endblock font %}

    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path='site.css', cachebust=true) }}" type="text/css" />
    <link rel="stylesheet" href="{{ get_url(path='print.css', cachebust=true) }}" type="text/css" media="print" />
    {% endblock css %}
</head>

<body>

<a class="skip-link" href="#main-content">Skip to main content</a>

{% block header %}
{% if config.extra.main_menu %}
<header>
    <nav aria-label="Main">
        <ul class="flexbox flexbox-horizontal">
            {% for item in config.extra.main_menu %}
            {{ macros::nav_item(item=item) }}
            {% endfor %}
        </ul>
    </nav>
</header>
{% endif %}
{% endblock header %}

<div class="container">
{% block content %}
{% endblock content %}
</div>

</body>
</html>
