{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }} {{ config.extra.title_separator }} {{ config.title }}{% endblock title %}

{% block page_meta %}
{{ macros::page_description(description=page.description | default(value='')) }}
{% endblock page_meta %}

{% block canonical %}<link rel="canonical" href="{{ page.permalink }}" />{% endblock canonical %}

{% block og_meta %}
<meta property="og:title" content="{{ page.title }} {{ config.extra.title_separator }} {{ config.title }}" />
<meta property="og:description" content="{{ page.description | default(value=config.description) | truncate(length=155) }}" />
<meta property="og:type" content="{% if page.extra.is_post | default(value=false) %}article{% else %}website{% endif %}" />
<meta property="og:url" content="{{ page.permalink }}" />
{% endblock og_meta %} {% block content %}

<main id="main-content">
    <article itemscope itemtype="{% if page.extra.is_post | default(value=false) %}https://schema.org/BlogPosting{% else %}https://schema.org/WebPage{% endif %}">
        <header>
            <h1 itemprop="{% if page.extra.is_post | default(value=false) %}headline{% else %}name{% endif %}">
                {{ page.title }}
            </h1>
            {% if page.extra.show_meta %} {{ macros::meta(page=page) }} {% endif %}
        </header>
        {% if page.extra.show_toc and page.toc | length > 0 %}
        <hr />
        {{ macros::table_of_contents(entries=page.toc) }}
        {% endif %}
        <hr />
        <section itemprop="{% if page.extra.is_post | default(value=false) %}articleBody{% else %}text{% endif %}">
            {{ page.content | safe }}
        </section>
        {% block page_footer %}
        {% if page.taxonomies.tags and page.taxonomies.tags | length > 0 %}
        <hr />
        <footer>
            <ul class="tags">
                {% for tag in page.taxonomies.tags %}
                <li itemscope itemtype="https://schema.org/DefinedTerm">
                    <a itemprop="url" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
                        <span>{{ tag }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </footer>
        {% endif %}
        {% endblock page_footer %}
    </article>
</main>
{% endblock content %}
