{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }} {{ config.extra.title_separator }} {{ config.title }}{% endblock title %}

{% block page_meta %}
{{ macros::page_description(description=page.description | default(value='')) }}
{% endblock page_meta %}

{% block content %}
{% set is_post = page.extra.is_post | default(value=false) %}
<article {% if is_post %} itemscope itemtype="https://schema.org/BlogPosting" {% endif %} class="flexbox flexbox-vertical">
    <header>
        <h1 {% if is_post %} itemprop="headline" {% endif %}>{{ page.title }}</h1>
        {% if page.extra.show_meta %}
        {{ macros::meta(page=page) }}
        {% endif %}
    </header>
    {% if page.extra.show_toc and page.toc | length > 0 %}
    <hr>
    {{ macros::table_of_contents(entries=page.toc) }}
    {% endif %}
    <hr>
    <section {% if is_post %} itemprop="articleBody" {% endif %}>
        {{ page.content | safe }}
    </section>
    {% block page_footer %}
    {% if page.taxonomies.tags and page.taxonomies.tags | length > 0 %}
    <hr>
    <footer>
        <ul class="tags">
            {% if page.taxonomies.tags and page.taxonomies.tags | length > 0 %}
            {% for tag in page.taxonomies.tags %}
            <li itemscope itemtype="https://schema.org/DefinedTerm">
                <a itemprop="url" href="{{ get_taxonomy_url(kind='tags', name=tag) }}"><span>{{ tag }}</span></a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </footer>
    {% endif %}
    {% endblock page_footer %}
</article>
{% endblock content %}
